<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- --------------------- config --------------------- -->
    <th:block th:replace="/fragments/config :: configFragment"></th:block>
</head>
<body>
<!-- --------------------- header --------------------- -->
<div th:replace="/fragments/header :: headerFragment"></div>
<div class="container">

    <div class="p-5 text-center">
        <h2> 게시글 상세보기</h2>
    </div>

    <div class="title-box">

        <div class="title-items">
            <h1 id="title" th:text="${board.title}"></h1>
        </div>

    </div>

    <hr>

    <div class="content-box" th:utext="${board.content}"></div>

    <hr>

    <div th:text="${board.id}"></div>

    <br>

    <a th:href="@{/board/update/{boardId}(boardId=${board.id})}" class="btn btn-outline-primary btn-sm">수정하기</a>
    <a th:href="@{/board/delete/{boardId}(boardId=${board.id})}" class="btn btn-outline-primary btn-sm">삭제하기</a>
    <a href="#" class="btn btn-outline-danger btn-sm">신고하기</a>
    <a th:href="@{/board/list(page=${page})}" class="btn btn-outline-primary btn-sm" style="float: right">목록보기</a>

    <div class="card" style="margin-bottom: 1rem; margin-top: 1rem">
        <div class="card-body">
            <textarea id="reply-content" class="form-control-plaintext" placeholder="댓글을 작성하세요." rows="1"></textarea>
        </div>
        <div class="card-footer">
            <button type="button" id="btn-reply-save" class="btn btn-primary">등록</button>
        </div>
    </div>
</div>

<script>
    let boardId = [[ ${board.id} ]];
    let index = {
        init: function () {
            $("#btn-reply-save").on("click", () => {
                this.replySave();
            })
        },

        replySave: function () {
            let data = {
                boardId: boardId,
                content: $("#reply-content").val()
            }

            $.ajax({
                type: "POST",
                url: `/board/comment/`,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",

            }).done(function (response) {

                alert("댓글 등록이 완료 되었습니다.");
                location.href = ("/board/" + boardId);

            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    }
    index.init();
</script>

<!-- --------------------- footer --------------------- -->
<div th:replace="/fragments/footer :: footerFragment"></div>
</body>
</html>