<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- --------------------- config --------------------- -->
    <th:block th:replace="/fragments/config :: configFragment"></th:block>
</head>
<body>
<!-- --------------------- header --------------------- -->
<div th:replace="/fragments/header :: headerFragment"></div>
<div class="container">

    <h1 id="title" th:text="${board.title}" style="background: lightgray; margin-top: 2rem">게시글 제목</h1>

    <hr>

    <div class="mb-3 mt-3" style="margin-bottom: 1rem; margin-top: 2rem">
        <p style="margin-bottom: 0">게시글 번호: <span th:text="${board.id}"></span></p>
        <p style="margin-bottom: 0">작성자: <span th:text="${board.user.username}"></span></p>
        <p>작성일: <span th:text="${board.createdAt}"></span></p>
    </div>

    <hr>

    <div class="content-box">
        <p th:utext="${board.content}"></p>
    </div>

    <br>

    <a th:if="${#authentication != null and board.user.username.equals(#authentication.name)}"
       th:href="@{/board/update/{boardId}(boardId=${board.id})}" class="btn btn-outline-primary btn-sm">수정하기</a>
    <a th:if="${#authentication != null and board.user.username.equals(#authentication.name)}"
       th:href="@{/board/delete/{boardId}(boardId=${board.id})}" class="btn btn-outline-primary btn-sm">삭제하기</a>

    <!--///////////////////////////////////    REPORT    ////////////////////////////-->
    <button th:if="${#authentication != null and !board.user.username.equals(#authentication.name)}"
            type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">신고하기</button>
    <div class="modal fade" id="myModal"
         style="position: fixed; top: 25%;">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">게시글 신고하기</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h5>왜 신고함?</h5>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio1" name="opt-radio" value="ABUSE" checked>욕설
                        <label class="form-check-label" for="radio1"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio2" name="opt-radio" value="LEWDNESS">음란
                        <label class="form-check-label" for="radio2"></label>
                    </div>
                    <div class="form-check">
                        <input type="radio" class="form-check-input" id="radio3" name="opt-radio" value="CALUMNY">비방
                        <label class="form-check-label" for="radio2"></label>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" id="btn-report" class="btn btn-danger" data-bs-dismiss="modal">신고하기</button>
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        let boardId = [[ ${board.id} ]];
        $(document).ready(function() {
            $("#btn-report").click(function() {

                let data = {
                    boardId: boardId,
                    reason: $("input[name='opt-radio']:checked").val()
                }

                $.ajax({
                    type: "POST",
                    url: `/board/report/`,
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function(response) {
                        alert("신고가 성공적으로 접수되었습니다.")
                        console.log(response)
                    },
                    error: function(error) {
                        const errorMessage = error.responseJSON && error.responseJSON.error && error.responseJSON.error.message;
                        alert(errorMessage || "신고 요청을 보내는 중 오류가 발생했습니다.");
                    }
                });
            });
        });
    </script>


    <!--///////////////////////////////////    COMMENT    ////////////////////////////-->
    <a th:href="@{/board/list(page=${page})}" class="btn btn-outline-primary btn-sm" style="float: right">목록보기</a>

    <div class="card" style="margin-top: 1rem">
        <div class="card-header bg-secondary">댓글 리스트</div>
        <div th:if="${comments.isEmpty()}" style="text-align: center; padding-top: 1rem; color: gray"><p>등록된 댓글이 존재하지 않습니다.</p></div>

        <ul th:unless=" ${comments.isEmpty()} == 0" id="reply--box" class="list-group">
            <div th:each="comment : ${comments}">
                <li class="list-group-item d-flex justify-content-between" >
                    <div th:text="${comment.content}">댓글 내용</div>
                    <div class="d-flex">
                        <div th:text="${comment.user.username}" style="margin-right: .5rem; font: italic 15px Arial">작성자: username</div>
                        <button th:replyId="${comment.id}" th:onclick="commentDelete([[${comment.id}]])"
                                id="btn-comment-delete" th:if="${comment.user.username.equals(#authentication.name)}" class="badge bg-danger">삭제</button>
                    </div>
                </li>
            </div>
        </ul>
    </div>

    <div sec:authorize-expr="isAuthenticated()" class="card" style="margin-bottom: 1rem; margin-top: 1rem">
        <div class="card-body">
            <textarea id="reply-content" class="form-control-plaintext" placeholder="댓글을 작성하세요." rows="1"></textarea>
        </div>
        <div class="card-footer">
            <button type="button" id="btn-comment-save" class="btn btn-primary">등록</button>
        </div>
    </div>

</div>

<script>
    function commentDelete(commentId) {
        $.ajax({
            type: "DELETE",
            url: `/board/comment/${commentId}`,
            dataType: "json",

        }).done(function (response) {
            alert("댓글 삭제가 완료 되었습니다.");
            location.href = ("/board/" + boardId);
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });
    }

    let index = {
        init: function () {
            $("#btn-comment-save").on("click", () => {
                this.commentSave();
            })
        },

        commentSave: function () {
            let data = {
                boardId: boardId,
                content: $("#reply-content").val()
            }

            $.ajax({
                type: "POST",
                url: `/board/comment/`,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",

            }).done(function (response) {

                alert("댓글 등록이 완료 되었습니다.");
                location.href = ("/board/" + boardId);

            }).fail(function (error) {
                alert(JSON.stringify(error));
            });
        }
    }
    index.init();
</script>

<!-- --------------------- footer --------------------- -->
</body>
</html>