<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- --------------------- config --------------------- -->
    <th:block th:replace="/fragments/config :: configFragment"></th:block>
</head>
<body>
<!-- --------------------- header --------------------- -->
<div th:replace="/fragments/header :: headerFragment"></div>

<div class="container">

    <div class="py-5 text-center">
        <h2>
        <span th:switch="${category}">
            <span th:case="null" th:text="'전체 게시판'"></span>
            <span th:case="'SESAC'" th:text="'새싹 회원 게시판'"></span>
            <span th:case="'EXCELLENT'" th:text="'우수 회원 게시판'"></span>
        </span>
        </h2>
    </div>

    <!--검색 창-->
    <form th:action="@{/board/list}" method="GET">
        <div style="display: flex;">
            <input type="text" class="form-control" name="keyword" placeholder="검색어를 입력하세요. (제목 or 내용 or 작성자)">
            <button type="submit" class="btn btn-primary" style="width: 12rem">검색</button>
            <button type="submit" class="btn btn-secondary" style="width: 12rem;" onclick="clearKeyword()">전체보기</button>
        </div>
    </form>
    <br>

    <!--게시글이 없을 경우-->
    <div th:if="${boardList == null or boardList.isEmpty()}" class="text-center">
        <h6>등록된 게시글이 없습니다.</h6>
    </div>

    <div th:unless="${boardList == null or boardList.isEmpty()}" class="text-center">
        <!--게시글 카드  -->
        <div class="row">
            <div th:each="board: ${boardList}" class="col-md-4 mb-4 ">
                <div class="card">
                    <img class="card-img-top img-thumbnail" th:src="@{|/board/image/${board.thumbnailName}|}"/>
                    <div class="card-body">
                        <p>
                            no. <span th:text="${board.id}"></span><br>
                            <span th:text="|[${board.user.role.name().equals('SESAC') ? '새싹 회원' : '우수 회원'} 게시판]|"></span>
                        </p><br>
                        <h4 th:text="${board.title}"></h4>
                        <p class="card-text" th:utext="${board.content}"></p><br>
                        <p>작성자: <span th:text="${board.user.nickName}"></span></p>
                        <a th:href="@{|/board/${board.id}|(page=${boardList.number + 1})}"
                           class="btn btn-outline-primary btn-sm">상세보기</a>
                    </div>

                </div>
            </div>
        </div>

        <style>
            .card-text {
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>

    </div>

    <!--페이지네이션-->
    <div th:if="${boardList != null and !boardList.isEmpty()}">
        <ul class="pagination pagination justify-content-center" style="margin: 20px 0">
            <li class="page-item">
                <a class="page-link" th:href="${boardList.totalPages == 0} ? '#' : @{/board/list(page=1)}">First</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="${boardList.first} ? '#' : @{/board/list(page=${boardList.number})}">Previous</a>
            </li>
            <span th:each="page: ${#numbers.sequence(startPage, endPage)}">

              <span th:if="${page == boardList.number + 1}">
                  <li class="page-item active">
                      <a class="page-link" href="#" th:text="${page}"></a>
                  </li>
              </span>

            <span th:unless="${page == boardList.number + 1}">
                <li class="page-item">
                    <a class="page-link" href="#"
                       th:href="${boardList.totalPages == 0} ? '#' : @{/board/list(page=${page})}" th:text="${page}"></a>
                </li>
            </span>
        </span>
            <li class="page-item">
                <a class="page-link"
                   th:href="${boardList.last} ? '#' : @{/board/list(page=${boardList.number + 2})}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link"
                   th:href="${boardList.totalPages == 0} ? '#' : @{/board/list(page=${boardList.totalPages})}">Last</a>
            </li>
        </ul>
    </div>
</div>

<script>
    function clearKeyword() {
        document.getElementsByName('keyword')[0].value = '';
    }
</script>
<!-- --------------------- footer --------------------- -->
</body>
</html>